
<div ng-show="parsed">
<textarea name="paragraph_text" ng-model="script" cols="50" rows="10"></textarea>
<br />
<button ng-click="parse()">Parse</button>

</div>

<div ng-show="!parsed">
<span class="curLine text">{{prevLine}}</span><br />
<span class="curLine">{{currentLine}}</span> <br />
<span class="curLine text">{{nextLine}}</span> <br />

<br />
<button ng-click="next('mas')">mason</button>
<button ng-click="next('jad')">jade</button>
<button ng-click="next('nat')">natasha</button>
<button ng-click="next('abi')">abigail</button>
<button ng-click="next('mar')">mari</button>
<button ng-click="next('ale')">alex</button>
<button ng-click="next('ric')">richard</button>
<button ng-click="next('eva')">evans</button>
<button ng-click="next('eri')">erik</button>
<button ng-click="next('zac')">zach</button>
<button ng-click="next('hay')">hayley</button>
<button ng-click="next('tea')">teacher</button>
<button ng-click="next('mas')">mas</button>
<button ng-click="next('mas')">mas</button>
<br/>

</div>

<div ng-show="!parsed" class="codebox">
    <code>
    	<pre>
{{finished_script}}
        </pre>
    </code>
</div>